/*Geral*/
* {
  padding: 0;
  margin: 0;
  font-family: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}

body {
  /*background-image: url(../img/ERzQJa8XkAA3Uq3.jpeg);*/
  background-color: rgb(12, 52, 74);
  background-position: center;
  background-size: cover;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #102f5e;
  /*color: #fff;*/
}

button:hover > i {
  color: #fff;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none; /*Para desabilitar o click nos ícones*/
}

input,
select {
  padding: 0.25rem 0.5rem; /*Para dar espaçamento nas letras*/
}

.hide {
  display: none;
}

/*To Do Header*/

.todo-container {
  max-width: 450px;
  margin: 3rem auto 0; /*Centralizar na tela*/
  background-color: #fdfdfd;
  padding: 1.5rem; /*Para tirar os elementos da extremidade*/
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem; /*Em cima 0, lado esquerdo e direito 1rem*/
  border-bottom: 1px solid #ccc;
}

/*To Do Form*/

#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem; /*Para afastar do formulário*/
  font-weight: bold; /*Negrito*/
}

.form-control {
  /*A div que abraça os inputs*/
  display: flex; /*Deixar os inputs ao lado dos botões*/
}

.form-control input {
  margin-right: 0.3rem; /*Para afastar o campo da figura do canto*/
}

#cancel-edit-btn {
  margin-top: 1rem; /*Pra afastar do formulário*/
  color: #444;
}

/*To Do toolbar*/

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem; /*Pra afastar do formulário*/
}

#search {
  border-right: 1px solid #ddd; /*Que vai dividir os dois elementos*/
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search-input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1; /*Para se adequar ao tamanho da tela/ir até o final*/
}

/*To Do List*/

.todo {
  display: flex;
  justify-content: space-around; /*Pra deixar botões e títulos espaçados igualmente*/
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem; /*Para afastar um botão do outro*/
}

.done {
  background: #395169;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}
